.burger_constructor {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.burger_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.burger_list::-webkit-scrollbar {
    width: 8px;
}

.burger_info {
  display: flex;
  justify-content: end;
}
