.profile {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-top: 120px;
}

.nav {
    list-style-type: none;
    margin-right: 140px;
    margin-bottom: 80px;
}

.text {
    width: 340px;
    padding-left: 40px;
}

.link {
    text-decoration: none;
}

.link_active {
    text-decoration: none;
    color:white
}