.modal {
  position: absolute;
  z-index: 3;
  top:50%;
  left:50%;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  transform: translate(-50%, -50%)
}

.close {
  border: 0;
  background-repeat: no-repeat;
  background: transparent;
  background-image: url("../../images/icon.svg");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50px;
  right: 40px;
  cursor: pointer;
}
