.details {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.ingredient {
    display: flex;
    flex-direction: column;
   
}

.compound {
    display: flex;
    gap: 20px;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
}