.appHeader {
  background-color: #1c1c21;
}

.list {
  list-style-type: none;
  display: flex;
  padding: 0 22px;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-right: 24px;
  color: #f2f2f3;
  margin-left: auto;
}

.link_inactive {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  margin-right: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  padding: 0 20px;
  margin-left: auto;
}

.login_inactive {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  margin-right: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  padding: 0 20px;
  margin-left: auto;
}

.logo {
  padding-top: 4px;
  padding-left: 78px;
}

.content {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 14px 0;
}

.active {
  color: white;
}